
/images_gif
/img
/csv
/Jupyter Notebook
/tkinter/client/__pycache__
/tkinter/img
/tkinter/csv
.ipynb_checkpoints
/Shapefile
/codigos/*.nc
/codigos/Regiones
/Paso a paso/*.nc
/Paso a paso/*.csv
/Paso a paso/*.jpg
/Paso a paso/Regiones
/codigos
/climate_indices
/tkinter/Azure
/tkinter/netcdf/*.nc
comandos_para_merge_NetCDF.txt
modulos_anaconda.txt
__pycache__
datetime.txt
Tesis compañeros anteriores - Shortcut.lnk
Videos para defensa - Shortcut.lnk
Codgio fuente escasez_hidrica - Shortcut.lnk